body{
	margin: 0 auto;
	box-sizing: border-box;
	background-color:#550000;
	width: 960px;
}
.section{
	display:grid;
	grid-template-columns:400px;
	justify-content: center;
	grid-gap:10px;
}
form{
	display:grid;
	grid-template-rows: repeat(7,auto);
	grid-gap: 10px;
	width:100%;
	font-size:20px;
	height: 22em;
	padding:10px;
}
.head{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	}
button{
	width: 50%;	
	height: 100%;
	margin:0 auto;
}


