/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}


/* Embed Font */
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans+Condensed:300');


/* About Page CSS */

.about_wrapper {
    max-width : 960px;
    width: 100%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.about_main {
    background: url(../images/about-back.jpg);
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 20%;
}

.about_header {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 45px;
    color: #550000;
}

.about_section_header {
    color: #AA3939;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 35px;
}

.about_section_header_para {
    color: #755252;
    font-family: sans-serif;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.question_mark {
    font-size: 45px;
}

.about_contact {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #550000;
}

.about_contact:hover {
    color: #AA3939;   
}

/* Team Section */

.team_header {
    font-size: 35px;
}

@media screen and (max-width : 950px) {
    main {
        padding: 1em;
    }

    .about_main {
        background: transparent;
    }

}


/*   ========================================
             Contact Us
     ========================================   */

.contactus{
	width: 70%;
	margin: 0 auto;
}
.contactus h1{
	font-size: 30px;
	color:#550000;
	font-weight: 800;
	text-align: center;
	margin: 40px 0;
}
.contactus h2{
	font-size: 20px;
	color: #AA3939;
}
.contactus p{
	font-size: 15px;
}
iframe{
	margin: 50px 0 60px 0;
	width: 100%;
}
.row{
	margin: 20px 0;
	width: 100%;
}
.col-1-2{
	margin: 10px 0 10px 15%;
	width: 35%;
	float: left;
	text-align: left;
}
@media screen and (max-width: 580px){
	.col-1-2{
		width: 100%;
	}
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*~~~~~~~~~~~~~~`main.css~~~~~~~~~~~~~~*/

main h1{
	font-family: 'Kosugi Maru', sans-serif;
	text-align: center;
	font-size: 45px;
	color: #AA3939;
	font-weight: 700;
	margin-top: 50px;
}
main h2{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	margin: 20px 0 0 20px;
}
h3{
	font-family: 'Kosugi Maru', sans-serif;
	font-size: 25px;
	padding:20px;
	color: #D46A6A;
}
span{
	font-size: 18px;
	color: orange;

}

.wrapper{
	margin: 50px auto;
	width: 80%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	
}
.wrapper img{
	width: 90%;
	height: 90%;
}
.videos{
	margin: 50px auto;
	width: 80%;
}
.videos iframe{
	margin-left: 20px;
	width: 30%;
}


/*header*/


.container{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    background: whitesmoke;
}

header {
    background: #AA3939;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 69%, 80% 100%, 20% 100%, 0 69%, 0 0);
    max-height: 30vh;
}
.hero{
    display: flex;
    padding: 2rem;
}
header img {
    height: 4rem;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav li {
    padding: 2rem;
    font-size: 1.3rem;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: .2rem;
    transition: border-bottom .3s ease;
}
nav a:hover{
    color:whitesmoke;
    border-bottom: 2px solid white;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    padding: 1rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

/********MAIN***********/


.home--info{
    height: 40vh;
    width: 50vw;
    margin: 5rem auto;
    position: relative;
    background: linear-gradient(rgba(87, 85, 85, 0.4),rgba(87, 85, 85, 0.4)),url(../assets/blood-camp.jpg) no-repeat;
}

.home--info p {
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home--content{
    font-size: 1.6rem;
    padding: 4rem;
    text-align: justify;
    line-height: 1.2;
    background: #550000b4;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}
.home--content p {
    padding: 1rem;
    color: black;
}

main {
    height: 100vh;
    color: white;
}

.hero {
    padding-bottom: 0;
}

.header_ul li  {
    font-size : 0.9em
}

.content--reason{
    padding: 5rem;
    color:  black;
}
.content--reason p {
    font-size: 1.8rem;
    text-align: justify;
}

/*************FOOTER******************/


/* Footer */
footer {
    height: 20.7%;
    background: #AA3939;
    clip-path: polygon(20% 0%, 80% 0%, 100% 31%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 33%);
    color:white;
}

.links li{
    display: inline-block;
    font-size: 1.2rem; 
    padding: 2rem;
}
.links a{
    color: white;
    padding: 0;
}

.btm__nav li{
    font-size: .9rem;
}
.copy{
    font-size: 1.2rem;
}


/*  Registration */
.section{
    display:grid;
    grid-template-columns:400px;
    justify-content: center;
    grid-gap: 10px;
    margin: 70px 0px;
}
form{
    display: grid;
    grid-template-rows: repeat(7,auto);
    grid-gap: 10px;
    width:100%;
    font-size: 20px;
    color: white;
    padding:10px;
}
.head{
    
    text-align: center;
    font-family: sans-serif;
    }
button{
    width: 50%; 
    height: 100%;
    margin:0 auto;
    background-color: #AA3939;
}

label {
    color: #414141;
    text-align: left;
    margin-top: 10px;
    font-size: 25px;

}

input {
    padding: 10px;
    border-radius: 3px;
    border:none;
    border-bottom: 2px solid #AA3939;
}

.btn {
    padding: 10px;
    color: white;
    border-radius: 5px;
}

@media screen and (max-width : 450px) {
    .hero h1 {
        font-size: 2rem;
    }
}
