
/* Embed Font */
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru|Open+Sans+Condensed:300');


/* About Page CSS */
.about_wrapper {
    max-width : 960px;
    width: 100%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.about_main {
    background: url(../images/about-back.jpg);
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 20%;
}

.about_header {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 45px;
    color: #550000;
}

.about_section_header {
    color: #AA3939;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 35px;
}

.about_section_header_para {
    color: #755252;
    font-family: sans-serif;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.question_mark {
    font-size: 45px;
}

.about_contact {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #550000;
}

.about_contact:hover {
    color: #AA3939;   
}

/* Team Section */
.team_header {
    font-size: 35px;
}

@media screen and (max-width : 950px) {
    main {
        padding: 1em;
    }

    .about_main {
        background: transparent;
    }

}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*header*/


.container{
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

header {
    background: #AA3939;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 69%, 80% 100%, 20% 100%, 0 69%, 0 0);
    max-height: 30vh;
}
.hero{
    display: flex;
    padding: 2rem;
}
header img {
    height: 4rem;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav li {
    padding: 2rem;
    font-size: 1.3rem;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: .2rem;
    transition: border-bottom .3s ease;
}
nav a:hover{
    color:whitesmoke;
    border-bottom: 2px solid white;
}

h1 {font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    padding: 1rem;
}

    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    padding: 1rem;
}
main {
    height: 100vh;
    background: #D46A6A;
}

.hero {
    padding-bottom: 0;
}

.header_ul li  {
    font-size : 0.9em
}

/* Footer */
footer {
    height: 25vh;
    background: #AA3939;
    clip-path: polygon(20% 0%, 80% 0%, 100% 31%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 33%);
    color:white;
}
footer {
    height: 20%;
}
.links li{
    display: inline-block;
    font-size: 1.2rem; 
    padding: 2rem;
}
.links a{
    color: white;
    padding: 0;
}

.btm__nav li{
    font-size: .9rem;
}
.copy{
    font-size: 1.2rem;
}

@media screen and (max-width : 450px) {
    .hero h1 {
        font-size: 2rem;
    }
}